@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer components{
       .correct{
              @apply bg-green-600
       }

       .wrong{
              @apply bg-red-400
       }
}
body{
    font-family: "Vazirmatn", sans-serif;
}

.danger-timer {
    background: linear-gradient(135deg, #ff3b3b, #ff7a00);
    animation: danger 0.8s infinite;
    box-shadow: 0 0 5px rgba(255, 60, 60, 0.8);
}


@keyframes danger {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }

}